:root {
  /* colors */
  --primary-color: #dfdfe2;
  --play-button-color: #a32af3e1;
  --secondary-color: #ffffff;
  --app-background-color: #4d4d62;
  --background-color: #1b1b32;
  --foreground-color: #3b3b4f;
  --highlight-color: #f1be32;
  --button-highlight-color: #eafb02;
  --list-highlight-color: #34342fb6;
  --display-artist-color: #f36000;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}